{% extends 'master/base.html'%}
{% block content %}

<div class="row">
  <div class="col-md-4">
    {% for pic in prof %}
    <img src="{{pic.profile_pic.url}}" alt="image" width="300" height="300">
    {% endfor %}
  </div>
  <div class="col-md-4">
    {% for pic in prof %}
    <p><strong>Name: </strong>{{user.username}}</p>
    <p><strong>Email: </strong>{{user.email}}</p>
    <p><strong>Bio: </strong>{{pic.bio}}</p>
    <p><strong>Contact: </strong>{{pic.contact}}</p>
    {% endfor %}
  </div>
</div>
<div class="row">
  <br>
  {% for pro in proj %}
  <div class="col-md-4">
    <img src="{{pro.photo.url}}" alt="image" width="300" height="300">
  </div>
  <div class="col-md-8">
    <h4>{{pro.proj_title}}</h4>
    <p>{{pro.proj_description}}</p>
    <a href="{{pro.proj_link}}" target="_blank">View the application</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
