{% extends 'master/base.html'%}

{% block content %}

<div class="bgimg-1">
    <div class="caption">
      <span class="border">Welcome to My Awards App</span><br>
      <span class="border">Francis T Karagu</span>
    </div>
</div>

<div class="blog-summary">
  <h3>The Awards</h3>
  <p><center>Is a platform that provides the public with the opportunity to vote and review projects uploaded.</center></p>
</div>

<div class="bgimg-1">
    <div class="caption">
      <span class="border">THE AWARDS</span>
    </div>
  </div>

{% endblock%}
