<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> Awards </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/theprojects">Uploaded Projects</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li style="color:white;padding:15px;">{{current_user.username}}</li>
        <li><a href="{% url 'logout' %}">Sign out</a></li>
        {% else %}
        <li class ="mvsearch">
          <div>
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
              <input class="form-control my-2 my-sm-0 search-input" name="search" type="search" placeholder="Search Project" aria-label="Search">
            </form>
          </div>
        </li>
        <li><a href="{% url 'login' %}">Sign in</a></li>

        {%endif%}
      </ul>
    </div>
  </div>
</div>
